// Font Import
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
// Colors
$cyan: hsl(172, 67%, 45%);
$dark: hsl(183, 100%, 15%);
$darkgray: hsl(186, 14%, 43%);
$grey: hsl(184, 14%, 56%);
$lightgrey: hsl(185, 41%, 84%);
$xlightgrey: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$background: #F2F2F2;
$splitter: hsla(180, 25%, 32%, 1);
$inpbg: hsla(185, 38%, 97%, 1);

// Screen Sizes
$mobile: 375px;
$desktop: 1440px;

// Text
$weight: 700;
$inputs: 24px;
$family: 'Space Mono', monospace;

// Global Styles
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centerCol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

// Whole Container
.container {
    width: 100vw;
    height: 100vh;
    background-color: $lightgrey;
    font-family: $family;
    font-weight: $weight;
}

// header
.header {
    width: fit-content;
    margin: 0 auto;

    &__logo {
        width: 86.66px;
        height: 53.14px;
    }
}

// main
.main {
    width: 920px;
    height: 481px;
    background: #FFFFFF;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
    border-radius: 25px;
    margin-top: 87.86px;
    gap: 20px;

    &__left {
        width: 379px;
        height: 417px;

        .billBox {
            label {
                height: 24px;
                font-size: 16px;
                line-height: 24px;
                color: $darkgray;
                display: block;
                cursor: pointer;
            }

            div {
                position: relative;
                margin-top: 6px;
                height: 48px;

                img {
                    position: absolute;
                    left: 5.08%;
                    top: 24px;
                    transform: translateY(-50%);
                }

                input {
                    cursor: pointer;
                    width: 100%;
                    height: 48px;
                    display: block;
                    background: $inpbg;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 6px 17px;
                    text-align: right;
                    position: absolute;
                    font-size: $inputs;
                    line-height: 36px;
                    color: $dark;
                    font-weight: $weight;

                    &::placeholder {
                        color: hsla(183, 100%, 15%, 0.35);
                        font-family: $family;
                    }

                    &:focus {
                        border: 2px solid hsla(172, 67%, 45%, 1);
                        padding: 6px 15px;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    -moz-appearance: textfield;
                }

            }
            .spaceBetween{
                margin-top: -13px;
            }
        }

        .tipBox {
            margin-top: 40px;

            p {
                height: 24px;
                font-size: 16px;
                line-height: 24px;
                color: $darkgray;
                display: block;
            }

            .tips {
                margin-top: 16px;
                width: 379px;
                height: 112px;
                display: grid;
                grid-template-columns: repeat(auto-fill, 117px);
                grid-column-gap: 14px;
                grid-row-gap: 16px;

                .tip {
                    width: 117px;
                    height: 48px;
                    background: #00474B;
                    border-radius: 5px;
                    font-weight: $weight;
                    font-size: $inpbg;
                    line-height: 36px;
                    color: $white;
                    cursor: pointer;
                }

                .tip-Custom {
                    background: $inpbg;
                    font-family: $family;
                    font-weight: $weight;
                    font-size: 24px;
                    line-height: 36px;
                    color: #00474B;
                    border: none;
                    outline: none;
                    text-align: right;
                    cursor: pointer;

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    -moz-appearance: textfield;

                    &:focus {
                        border: 2px solid hsla(172, 67%, 45%, 1)
                    }

                    &::placeholder {
                        font-family: $family;
                        font-style: normal;
                        font-weight: $weight;
                        font-size: $inputs;
                        line-height: 36px;
                        text-align: center;
                        color: #547878;
                    }
                }
            }
        }

        .peopleBox {
            margin-top: 40px;

            label {
                height: 24px;
                font-size: 16px;
                line-height: 24px;
                color: $darkgray;
                display: block;
                cursor: pointer;
            }

            div {
                position: relative;
                margin-top: 6px;
                height: 48px;

                img {
                    position: absolute;
                    left: 5.08%;
                    top: 24px;
                    transform: translateY(-50%);
                }

                input {
                    cursor: pointer;
                    width: 100%;
                    height: 48px;
                    display: block;
                    background: $inpbg;
                    border-radius: 5px;
                    outline: none;
                    border: none;
                    padding: 6px 17px;
                    text-align: right;
                    position: absolute;
                    font-size: $inputs;
                    line-height: 36px;
                    color: $dark;
                    font-weight: $weight;

                    &::placeholder {
                        color: hsla(183, 100%, 15%, 0.35);
                        font-family: $family;
                    }

                    &:focus {
                        border: 2px solid hsla(172, 67%, 45%, 1);
                        padding: 6px 15px;
                    }

                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    -moz-appearance: textfield;
                }

            }
        }
    }

    &__right {
        width: 413px;
        height: 417px;
        background-color: $dark;
        border-radius: 15px;
        padding-top: 40px;

        .personTip,
        .totalTip {
            width: 80%;
            max-width: 333px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0px auto;
            flex-wrap: wrap;
            gap: 20px;

            &__left {
                .tipAmount {
                    height: 24px;
                    font-family: $family;
                    font-weight: $weight;
                    font-size: 16px;
                    line-height: 24px;
                    color: $white;
                }

                .person {
                    font-family: $family;
                    font-weight: $weight;
                    font-size: 13px;
                    line-height: 19px;
                    color: #7F9D9F;
                    margin-top: 3px;
                }
            }

            &__right {
                font-family: $family;
                font-weight: $weight;
                font-size: 48px;
                line-height: 71px;
                text-align: right;
                letter-spacing: -1px;
                color: #26C2AE;
            }
        }

        .totalTip {
            margin-top: 25px;
        }

        button {
            width: 80%;
            height: 48px;
            max-width: 333px;
            display: block;
            margin: 133px auto 0px auto;
            background-color: hsla(183, 78%, 24%, 1);
            border-radius: 5px;
            font-size: 20px;
            font-weight: $weight;
            font-family: $family;
            color: hsla(183, 100%, 15%, 0.35);
            border: none;
        }
    }
}

// classes for JS
.active {
    background-color: hsla(173, 61%, 77%, 1) !important;
    color: $dark  !important;
}

.activeButton {
    background: #9FE8DF !important;
    color: hsla(183, 100%, 15%, 1) !important;
    cursor: pointer !important;
}

.alert {
    display: block !important;
    font-family: $family !important;
    font-weight: $weight !important;
    line-height: 24px !important;
    color: #E17457 !important;
}
.deactivate{
    display: none !important;
}